@font-face {
    font-family: gilroy;
    src: url('Gilroy-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
 
html,body{
height: 100%;
width: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #5c5470;
    color: white;
    padding: 50px 0;
}

#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: #504470 28px 12px 20px;
}

img{
    width: 10vmax;
    padding: 10px 0;
}
#message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#message img{
    width: 20vmax;
}
#message>h1{
    font-size: 1.8vmax;
    text-align: center;
    padding: 5px;
}
#message>h2{
    font-size: 1.5vmax;
    text-align: center;
}


#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 40px;
    color: #5c5470;
    margin: 20px;
    font-size: 2vmax;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    color:white;
    background-color: #504470;
}

#main>h3{
    margin: 20px;
}